.top-navbar {
  height: 70px;
  position: fixed;
  top: 0;
  right: 0;
  left: var(--sidebar-width);
  
  background: #04102c;
  border-bottom: 1px solid #334155;
  display: flex;
  align-items: center;
  padding: 0 35px;
  z-index: 10; 
  transition: var(--transition);
}

.sidebar-closed .top-navbar {
  left: 0;
}

.hamburger {
  font-size: 24px;
  color: #d4d4d4;
  cursor: pointer;
  padding: 8px;
  border-radius: 6px;
  transition: 0.2s;
}

.hamburger:hover {
  color: #4fc3f7;
  background: rgba(79, 195, 247, 0.1);
}